{{!-- <p>Hey, {{ name }} </p> --}}
<p>Please click below to confirm your email</p>
<p>
    <b>{{ token }}</b>
    <a href="{{url}}" target="_blank">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
